.highlight-container {
  display: flex;
  justify-content: center;
  padding: 5px 20px;
  width: 153px;
  background-color: rgba(0, 0, 0, 1);
  color: white;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 500;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  border-bottom: 1px solid #201c1c;
  border-left: 1px solid #201c1c;
  border-top: 1px solid #201c1c;
}
